
<!-- Detailed About Me Section -->
<div id="details" class="bc py-16">
    <div class="container  mx-auto px-6">
      <h2 class=" honk-j text-3xl font-bold text-center text-white mb-8">I'm Anshu Kumar</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
        <!-- Moving Images Container -->
        <div class="moving-images-container bg-white p-4 shadow-lg relative overflow-hidden" style="width: 400px; height: 250px; border-radius: 15px;">
          <!-- Image 1 -->
          <img src="assets/img/police3.jpg" alt="Sketch 1" class="moving-image">
          <!-- Image 2 -->
          <img src="assets/img/police2.jpg" alt="Anshu 1" class="moving-image">
          <!-- Image 3 -->
          <img src="assets/img/police1jpg.jpg" alt="Anshu 2" class="moving-image">
  
         
        </div>
        <!-- Text Content -->
        <div class="text-content philosopher-regular p-6 rounded-lg shadow-2xl shadow-gray-500">
          <p class="text-gray-300 mb-4">Bachelor of Technology in Engineering
            Institution: ITS Engineering College, Greater Noida
            Achievements: Graduated with a strong foundation in software development, specializing in full-stack web development.</p>
            <p class="text-gray-300 mb-4">Mocsoft Technologies Pvt. Ltd.: Worked on the Police System Management (PSM) for the Bihar Police of Vaishali district.</p>
          <p class="text-gray-300">I have always been fascinated by technology and its ability to solve problems and improve lives. The constant evolution in the tech world keeps me motivated to learn and adapt. I enjoy staying up-to-date with the latest trends and advancements in web development, which fuels my passion for creating innovative solutions.</p>
        </div>
      </div>
    </div>
  </div>
  
