<div class="bc min-h-screen py-16">
    <div class="container mx-auto px-6">
      <h2 class="text-3xl honk-j font-bold text-center text-white mb-8">My Skills</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- Skill Card 1 -->
        <div class="bg-gray-800 rounded-lg shadow-md p-6">
          <h3 class="text-xl font-semibold text-white mb-2">Front-end Development</h3>
          <p class="text-gray-300 mb-4">HTML5, CSS3, TypeScript, Angular, React (basics)</p>
        </div>
  
        <!-- Skill Card 2 -->
        <div class="bg-gray-800 rounded-lg shadow-md p-6">
          <h3 class="text-xl font-semibold text-white mb-2">Back-end Development</h3>
          <p class="text-gray-300 mb-4">Spring Boot, MySQL, JPA</p>
        </div>
  
        <!-- Skill Card 3 -->
        <div class="bg-gray-800 rounded-lg shadow-md p-6">
          <h3 class="text-xl font-semibold text-white mb-2">Tools & Others</h3>
          <p class="text-gray-300 mb-4">Git and GitHub, VS Code, Responsive Design, Eclipse, STS</p>
        </div>
      </div>
    </div>
  
  