/* app.component.css or your specific home page component's CSS file */

/* Scroll Down button styling */
#scroll-down {
    position: fixed;
    top: 100px; /* Adjust this value to position below the navbar */
    right: 20px;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
    z-index: 1000; /* Ensure the button stays above other elements */
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Initially hidden */
  }
  
  #scroll-down.visible {
    opacity: 1; /* Make visible */
    visibility: visible; /* Make visible */
  }
  
  #scroll-down:hover {
    transform: scale(1.1);
  }
  
  #scroll-down img {
    width: 50px;
    height: 50px;
  }
  
  /* Scroll Up button styling */
  #scroll-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
    z-index: 1000; /* Ensure the button stays above other elements */
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Initially hidden */
  }
  
  #scroll-up.visible {
    opacity: 1; /* Make visible */
    visibility: visible; /* Make visible */
  }
  
  #scroll-up:hover {
    transform: scale(1.1);
  }
  
  #scroll-up img {
    width: 50px;
    height: 50px;
  }
  